.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #667eea;
  margin-inline: auto;
}

.logo-icon {
  font-size: 2rem;
  margin-right: 8px;
}

.logo-text {
  color: rgb(254, 186, 0);
}